.circle {
  position: relative;
  height:300px;
  width:300px;
  border-radius:50%;
  border:2px solid black;
  margin: auto;
  background-color: #8FBC94;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  user-select: none;
  font-size="3";
}
.gem_btn {
  position: relative;
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid black;
  margin: auto;
  background-color: #009999;
  font-family: "Lucida Console", "Courier New", monospace;
  user-select: none
}

.core {
  position: relative;
  margin: auto;
  font-size: 20;
  font-color: #FFFFFF;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
}
.info_btn {
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid black;
background-color: #881111;
}
.msg {
font-color: #FF0000;
font-size: 10;
  user-select: none;
}
.msg2 {
  user-select: none;
}
.gem_info {
width: 10px;
height: 10px;
border-radius: 50%;
border: 2px solid black;
background-color: #881111;
left: 10px;
}
.exp_btn {
  position: relative;
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid black;
  margin: auto;
  background-color: #009999;
  font-family: "Lucida Console", "Courier New", monospace;
  user-select: none
}
.exp_info {
width: 10px;
height: 10px;
border-radius: 50%;
border: 2px solid black;
background-color: #881111;
left: 10px;
}
.ath_btn {
  position: absolute;
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid black;
  background-color: #009999;
  font-family: "Lucida Console", "Courier New", monospace;
  user-select: none;
  top: 72%;
  left: 618px;
}
.ath_info {
width: 10px;
height: 10px;
border-radius: 50%;
border: 2px solid black;
background-color: #881111;
position: relative;
top: 2px;
}
.exp_border {
  background-color: #000000;
  width: 125px;
  height: 45px;
  border: 2px solid white;
  border-radius: 20px / 15px;
  position: fixed;
  bottom: 30px;
  right: 200px;
  transition: right 0.25s;
}
.exp_bar {
  bottom: 1px;
  width: 0px;
  height: 33px;
  background-color: #000088;
  position: relative;
  z-index: 70;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
}
.exp_max_bar {
  border: 2px solid #000088;
  width: 100px;
  height: 30px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 69;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 5px;
}

.options_btn {
position: fixed;
width: 100px;
height: 20px;
background-color: #000000;
border: 3px solid white;
border-radius: 5px;
right: 40px;
bottom: 40px;
transition: border 1s, background-color 1s, width 1s, height 1s, transform 1s, border-radius 1s;
}

.arrow_prt_1 {
width: 15px;
height: 3px;
transform: rotate(45deg);
position: relative;
background-color: #FFFFFF;
left: 46px;
top: 8px;
}
.arrow_prt_2 {
width: 15px;
height: 3px;
transform: rotate(-45deg);
position: relative;
background-color: #FFFFFF;
left: 37px;
top: 5px;
}


.black_element {
position: fixed;
right: 160px;
bottom: 195px;
width: 25px;
height: 25px;
display: none;
z-index: 99;
transform: rotate(450deg);
}
.gear_hover {
position: relative;
}

html, body {
    background-color: #000000;
}


